@import '../../mixinspack/mixins.styl'


.mobile_footer
    transition: 0.2s
    margin 4vh 0 0 0
    width: 100%
    flexer(c,c,rn)
.footer
    gap 1.2vh
    width: 94%
    flexer(c,c,rn)
.big_button
    transition: 0.2s
    flexer(c,c,rw)
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 500;
    border-radius: 9px;
    background: rgba(93, 99, 255, 0.70)
    border: 1px solid rgba(93, 99, 255, 0.70);
    sizer(35vh, 4.4vh)
.message_img
    transition: 0.2s
    border: 1px solid rgba(93, 99, 255, 0.70);
    background: rgba(93, 99, 255, 0.70)
    border-radius: 9px;
    flexer(c,c,rw)
    sizer(4.4vh, 4.4vh)
        
