@import '../../mixinspack/mixins.styl'

.product_descr_container
    sizer(42vh,60vh)
    border-radius: 1.5vh
    .top-image
      z-index: 2
      border-radius: 2vh
      sizer(42vh,30vh)

.product_text_box
    overflow: scroll
    z-index: 1
    background-color: #464646
    sizer(43vh,62.5vh)
    top: 11.5vh
    flexer(s,s,cn)
    border-radius: 2vh
.rent_text
    color: white
    font-size: 2.5vh
    sizer(38vh,6vh)
    margin: 1vh 0 2vh 2vh
.info_text
    flexer(s,s,rn)
    sizer(23vh,3vh)
    margin-left: 2vh
    img
      sizer(2vh,2vh)
      margin-top: 0.25vh
    nobr
      margin-left: 0.6vh
      color: white
      font-weight: 300
      font-size: 1.65vh

.floor_size_room_con
    sizer(30vh,3vh)
    flexer(s,s,rn)
    margin-left: 1.8vh
    margin-top:1vh
.room_count
    sizer(6vh,3vh)
    flexer(c,c,rn)
    img
      sizer(2vh,2.3vh)
    nobr
      font-size: 1.8vh
      font-weight: 300
      color: white
      margin-left: 0.5vh
      margin-bottom: .2vh

.expand_count
    sizer(6vh,3vh)
    flexer(c,c,rn)
    margin-left: 1.7vh
    img
      sizer(2vh,2.3vh)
    nobr
      font-size: 1.8vh
      font-weight: 300
      color: white
      margin-left: 0.5vh
      margin-bottom: .2vh

.floor_count
    sizer(6vh,3vh)
    flexer(c,c,rn)
    img
      sizer(2vh,2.3vh)
      margin-left: 4.3vh
    nobr
      font-size: 1.8vh
      font-weight: 300
      color: white
      margin-left: 0.5vh
      margin-bottom: .2vh

.preferences_of_room
    margin-left: 2vh
.preferences_text
    color: white
    font-size: 2.2vh
    margin: 2.2vh 0 1vh 0

.icon_text
    sizer(20vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.8vh
     margin-left: 0.3vh
.net_text
    sizer(11.5vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.8vh
     margin-left: 0.3vh


.tv_text
    sizer(12.9vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.8vh
     margin-left: 0.45vh

.refrigerator_text
    sizer(15vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.7vh
     margin-left: 0.4vh

.furniture_text
    sizer(9.5vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.7vh
     margin-left: 0.4vh

.wash_text
    sizer(18.1vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.7vh
     margin-left: 0.4vh
     margin-bottom:1.5vh

.air_text
    sizer(14.8vh,4vh)
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.7vh
     margin-left: 0.4vh
     margin-bottom:1.5vh


.dish_text
    sizer(15.3vh,2vh)
    margin-top: 1vh
    flexer(c,c,rn)
    img
      sizer(2.5vh,2.5vh)
    p
     color: white
     font-size: 1.7vh
     margin-left: 0.45vh
     margin-bottom:1.5vh

.more_preferences
  sizer(11.85vh,2vh)
  margin:2vh 0 0 0.15vh
  color:#81FB21
  font-size: 1.7vh
  border-bottom:0.15vh solid #81FB21
  padding-bottom: 0.5vh

.description_of_room
  sizer(38vh,20vh)
  margin-left:2vh

.title
  color: white
  font-size: 2.2vh
.main_text
  font-size:1.7vh
  color: white

.more_description
  sizer(13.1vh,2vh)
  color:#81FB21
  font-size: 1.7vh
  border-bottom:0.15vh solid #81FB21
  padding-bottom: 0.5vh

.location_block
  margin-top:3.3vh
  iframe
    sizer(42vh,31vh)

.title_location
  color: white
  font-size: 2.3vh
  margin-left:2vh
