@import '../../../mixinspack/mixins.styl'

.selectionsHeader
    margin-top: 1.75rem
    background: #454545
    border-radius: 1.7vh
    sizer(87.5vw,9.25vh)
    flexer(sb,c,rn)
.avatar_left
    sizer(3.125rem,3.125rem)
    border-radius: 1000px
    margin-left: 0.78vw
.about_user_selections
    margin-left: 0.78vw
    flexer(s,s,cn)
    gap 2px
.left_part
    height: 100%

.user_name
    color: #fff
    font-family: 'Overpass',sans-serif
    font-size: 2.6vh
    font-style: normal
    font-weight: 500
    line-height: 118%
    letter-spacing: 0.04vh
    
.role_selectins
    color: #FFF;
    font-family: Overpass;
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.28px;
    opacity: 0.5;

.connections_block
    flexer(c,c,rn)
    gap 0.8vw
    margin-left 3.25vw
.phone_icon
    transition: .25s
    sizer(2.375rem,2.375rem)
    border-radius: 8px;
    flexer(c,c,rn)
    background: rgba(255, 255, 255, 0.18);
    &:hover
        transition: .25s
        background-color: grey
        cursor: pointer
        
.header_break
    sizer(0.063rem,100%)
    opacity: 0.14000000059604645;
    background: #FFF;
    margin-left: 1.17vw


.right_part
    position: relative
    flexer(c,c,rn)
    gap: 1.17vw
    

.currency_block
    transition: .25s
    sizer(4.75vw,5vh)
    background: #343434
    border-radius: 1vh
    flexer(c,c,rn)
    &:hover
      background-color: grey
      transition: .25s
      cursor: pointer

.currency_text
    margin-top: 0.25rem
    letter-spacing: 2vw
    &:hover
      background-color: grey
      transition: .25s
      cursor: pointer
    
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Overpass', sans-serif
    font-size: 1.87vh   
    font-style: normal
    font-weight: 500
    line-height: 118% 
    letter-spacing: 0.018vw

.hist_new_block
    position: relative
    text-align c 
    sizer(14.375rem,2.375rem)
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.25);
    margin-right: 1.17vw
    flexer(c,c,rn)
    

.text_swiper
    flexer(c,c,rn)
    sizer(6.875rem,1.875rem)
    transition: 0.4s
    margin-top: 0.25rem
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Overpass;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118%; /* 16.52px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    cursor: pointer;
.hist_swaper
    transition: .4s
    transform: translateX(3.525rem)
    sizer(6.875rem,1.875rem)
    position: absolute
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);

#history_block
    opacity: 0.5


.second_curr_block
    overflow: hidden
    text-align: center
    color: lightgrey
    transition: .2s
    opacity: 0%
    sizer(4vw,0vh)
    border-bottom-right-radius: 0.3vw
    border-bottom-left-radius: 0.3vw
    position: absolute
    top: 5.05vh
    background: rgba(255, 255, 255, 0.25)


.currCon
    flexer(c,c,cn)

.UAH:hover
    background-color: grey
    cursor: pointer