@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700;800;900&display=swap');


@import '../../mixinspack/mixins.styl'


.mobile_header
    transition: 0.2s
    margin: 0vh 1.5vh 1.5vh 1.5vh
    padding: 0.3rem
    border-radius: 13px;
    background: #454545;
    sizer(94%, 11vh)
    flexer(c,c,cn)

.realtor_contact
    width: 100%
    flexer(sb,c,rn)
.realtor_info_block
    margin-left 1.5vh
    flexer(s,c,rw)
    gap 0.7vh
.realtor_name
    flexer(c,s,cn)
.name
    color: #FFF;
    font-size: 16px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: 0.32px;
.job_title
    color: #FFF;
    font-size: 12px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.24px;
    opacity 0.5
.contacts
    flexer(c,c,rn)
    gap 1.5vh
    margin-right:  1.5vh
    box-sizing: border-box
#message
    opacity 0
    transition: 0.2s
.nav_buttons_con
    overflow: hidden
    position relative
    flexer(c,c,rn)
    margin-top 0.5rem
    padding: 0.3rem
    width: 350px;
    height: 30px;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.315);
.history
    flexer(c,c,rw)
    transition: 0.2s
    opacity: 0.5;
    margin 0
    width: 100%
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 300;

    text-transform: uppercase;
.new
    flexer(c,c,rw)
    transition: 0.2s
    margin 0
    width: 100%
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
.active_button
    transition: 0.2s
    position: absolute
    top 0.35vh
    left 0
    width 50%
    height: 85%
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(98%)

.mobile_product
    flexer(sb,c,rn)
    sizer(100%,100vh)

.object_price
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 500;
