@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

sizer(w,h)
    width w
    height h
flexer(jc,ai,fw)
    display flex
    justify-content: jc 
    align-items: ai  
    align-content: ai
    flex-flow: fw
fonter(ff,fw,fs,lh)
    font-family: ff;
    font-style: normal;
    font-weight: fw;
    font-size: fs;
    line-height: lh;
absolute(t,r,b,l)
   possition absolute
   top: t
   right: r
   bottom: b
   left: l
fixer(t,r,b,l)
   possition fixed
   top: t
   right: r
   bottom: b
   left: l

c = center 
rw = row wrap
cw = column wrap
cn = column nowrap  
s = flex-start 
e = flex-end  
rn = row nowrap
sb = space-between 
sa = space-around


