@import '../../mixinspack/mixins.styl'


.client_page
    box-sizing: border-box
    padding: 1vw 3vh
    sizer(100%, 100%)
    background: #323232;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.22);
    flexer(s,s,cn)
.client_header
    sizer(100%, 4   vh)
    margin-top 1.9vh
    flexer(sb,s,rn)
.client_title
    color: #FFF;
    font-family: Overpass;
    font-size: 2.1vh;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    letter-spacing: 0.4px;
.client_cards_con
    overflow: scroll
    margin-top 1.9vh
    sizer(100%, 100%)
    flexer(s,c,cn)
    gap 1vh
.client_cards_con::-webkit-scrollbar
    display: none
.search
    position relative
    flexer(c,s,rn)
    gap 0.73vw
.create_new
    transition: 0.2s
    flexer(c,c,rn)
    sizer(3.6vh, 3.6vh)
    border-radius: 0.8vh;
    border: 0.15vh solid rgba(255, 255, 255, 0.20)
.add
    cursor: pointer
    transition: 0.2s
    sizer(2vh, 2vh)
    opacity: 0.4000000059604645;
.create_new:hover
    background: rgba(255, 255, 255, 0.20);
.create_new:hover .add
    opacity: 1
.choose
    margin-left: 0.8vw 
    color: #FFF;
    font-family: Overpass;
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.3px;
    opacity: 0.4000000059604645;
.choose_block
    overflow: hidden
    position relative
    z-index 5
    backdrop-filter: blur(18.5px);
    padding-top: 0.4vh
    padding-bottom: 0.4vh

    box-sizing: border-box
    flexer(c,c,cn)
    height: 100%    
    transform-origin: bottom
    border-radius: 0.8vh;
    background: rgba(255, 255, 255, 0.20);
.choose_punkts
    padding: 0.4vh 0.2vw
    box-sizing: border-box
    gap 0.3vw
    flexer(c,c,rn)
    border-radius: 7px;
    background: #323232;
.f_con
    border-radius: 0.4vh
    sizer(4.27vw, 1.9vh)
    position relative
    flexer(c,c,rn)
    transition: 0.2s
    cursor pointer
.f_con:hover
    background: rgba(255, 255, 255, 0.20);

.s_con
    border-radius: 0.4vh
    sizer(2.87vw, 1.9vh)
    position relative
    flexer(c,c,rn)
    transition: 0.2s
    cursor pointer
.s_con:hover
    background: rgba(255, 255, 255, 0.20);

.f_punkt
    user-select: none
    top 0.45vh
    position absolute
    flexer(c,c,rw)
    transition: 0.2s
    color: #FFF;
    font-family: Overpass;
    font-size: 1.1vh;
    font-style: normal;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    opacity: 0.4000000059604645;
.s_punkt
    top 0.45vh
    position absolute
    user-select: none
    cursor pointer
    color: #FFF;
    font-family: Overpass;
    font-size: 1.1vh;
    font-style: normal;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    opacity: 0.4000000059604645;
.arrow_down
    cursor: pointer
    transition 0.2s
    width: 0


.unavailable
    margin-right: 0.2vw 
    flexer(c,c,rn)
    gap 0.5vw
.available
    transition: 0.2s
    overflow: hidden
    flexer(s,s,cn)
    sizer(100%, 0vh)
.a_punkts
    cursor pointer
    box-sizing: border-box
    padding-left: 0.6vw 
    color: #FFF;
    font-family: Overpass;
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.3px;
    opacity: 0.4000000059604645;
    flexer(s,c,rn)
    sizer(100%, 3.2vh)
    border-top 0.05vw solid rgba(255, 255, 255, 0.295);


















  





.object_carousel_con {
  overflow-x: auto; /* Включение горизонтального скролла */
  width: 21vh; /* Ширина контейнера */
  border-radius: 0.3vh;
}

.object_carousel_con::-webkit-scrollbar {
  display: none; /* Скрытие полосы прокрутки */
}

.object_carousel {
  display: flex; /* Установка дочерних элементов в ряд */
  gap: 0.55vw; /* Отступ между элементами */
}

.img {
    flex-shrink: 0;
    border-radius: 1vh; /* Запрет уменьшения размера изображения */
}

.request_photo {
    flex-shrink: 0; /* Запрет уменьшения размера блока с иконкой */
    width: 5vh
    height: 5vh
    flexer(c,c,cn)
    border-radius: 1vh;
    background: rgba(255, 255, 255, 0.20);
}











