@import '../../mixinspack/mixins.styl'


.client_page
    sizer(100%, 100%)
    background: #323232;
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.22);
    flexer(c,c,cn)
.client_header
    flexer(sb,c,rn)