@import '../../mixinspack/mixins.styl'




.history_block
    transform: translateX(-100%)
    transition: 0.5s
    opacity 0
    min-width: 100%
    margin 3vh 0 0 0
    flexer(c,c,cn)
.history_con
    border-radius: 1.3vh;
    overflow: hidden
    sizer(94%, 70vh)
.history_card_con
    box-sizing: border-box;
    flexer(c,s,rw)
    overflow: scroll
    gap 1.2vh
    padding: 2vh 0 10vh 0
    sizer(100%,100%)
    background: #FFFFFF1F